__pycache__/
.devcontainer/
data/
.env
env/
*.pkl
*_env/# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.csss
*.tar.gz
*.rar
*.scss

node_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
